* {
    margin: 0;
    box-sizing: border-box;
}
.display-none {
    display: none;
}
.display-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
.agenda-main {
    display: flex;
    height: 100vh;
}
.sidebar {
    padding: 10px 0px 10px;
    flex: 0.15;
    border-right: 1px solid #AEAEAE;
}
.sidebar-title {
    display: flex;
    align-items: center;
    gap: 4%;
    padding-bottom: 10px;
    border-bottom: 1px solid #AEAEAE;
}
img.app-icon {
    width: 40px;
    flex: 0.25;
}
span.app-header {
    font-size: 20px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.sidebar-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
img.item-icon {
    width: 30px;
}
.agenda-content {
    width: 100%;
    flex: 0.85;
    overflow-y: auto;
}
.todo-header {
    display: flex;
    height: 6rem;
    /* flex: 0.85; */
    border-bottom: 1px solid #AEAEAE;
}
.todo-title {
    flex: 0.4;
}
.todo-title span {
    font-size: 70px;
    padding-left: 10px;
}
.search-div {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    justify-content: flex-end;
}
.field-container {
    width: 100%;
    padding-bottom: 4%;
    padding-left: 2%;
    display: inline-flex;
    justify-content: space-evenly;
}
.field-container input[type="text"] {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #5E5E5E;
}
/* button#new-project-btn {
    height: 30px;
    border: 1px solid #5E5E5E;
    border-radius: 10px;
    background-color: #FFF;
} */
a.delete-project img {
    width: 30px;
}
.app-content {
    height: calc(100vh - 6rem);
    display: grid;
}
.project-grid,
.tasks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    height: fit-content;
    margin: 1rem;
    gap: 10px;
}
.project-card,
.tasks-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    height: 250px;
}
.project-header,
.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.2;
    border-bottom: 1px solid #AEAEAE;
}
.project-title span,
.task-title span {
    font-size: 30px;
}
.project-header div.project-btns,
.task-header div.task-btns {
    display: flex;
    flex: 0.4;
    align-items: center;
}
button {
/* button.create-task, 
button.submit-btn,
button#new-project-btn,
div.footer button { */
    border: 1px solid #5E5E5E;
    border-radius: 5px;
    background-color: #FFF;
    height: 30px;
    cursor: pointer;
}
.project-body,
.task-body {
    flex: 0.6;
}
.project-footer,
.task-footer {
    display: flex;
    flex: 0.2;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #AEAEAE;
}
.task-info {
    flex: 0.6;
}
div.project-footer .project-btns,
div.task-footer .task-btns {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: flex-end;
}
a.view-tasks {
    font-size: 12px;
    cursor: pointer;
}
a.delete-project {
    flex: 0.2;
}

.empty-board {
    display: flex;
}
.empty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}
img.empty-img {
    width: 300px;
    filter: opacity(0.2);
}
.empty-text {
    text-align: center;
    font-size: 18px;
}
span.empty-msg {
    display: block;
}

/* New Project Modal */
.modal {
    position: absolute;
    top: 30%;
    left: 42%;
    background-color: #FFF;
    width: 350px;
    border: 1px solid black;
    border-radius: 7px;
}
.dialog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
}
div.modal .header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border-bottom: 1px solid #AEAEAE;
    font-weight: bold;
}
span.close,
a.delete-project {
    cursor: pointer;
}
div.modal .body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
div.modal input[type="text"],
div.modal input[type="date"] {
    width: 100%;
    height: 30px;
}
div.modal input[type="checkbox"] {
    width: 
}
div.modal textarea {
    width: 100%;
    resize: none;
}
.footer {
    display: flex;
    justify-content: center;
}

/* TASKS */
div.task-completed {
    display: flex;
    align-items: center;
    gap: 10px;
}
input.task-completed {
    margin-top: 3px;
}